In [3]:
import nsfg
import pandas as pd

In [ ]:
##내셔널 서베이 오브 패밀리 그로우스 라는 뜻의 nsfg

In [5]:
 preg=pd.read_csv("./2002FemPreg.tsv",sep="\t")
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [7]:
preg.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [8]:
preg.columns[1]

'pregordr'

In [11]:
print(type(preg))
print(type(preg['pregordr']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [14]:
preg.pregordr

0        1
1        2
2        1
3        2
4        3
        ..
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [15]:
preg['pregordr']###얘를 더 선호하여 내용들을 불러온다.
##얘는 지금 pregordr의 값들을 불러온 것이다.

0        1
1        2
2        1
3        2
4        3
        ..
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [24]:

preg['outcome'].value_counts()
##이게 무슨뜻이냐면
##아웃컴의 수치들을 수치에 따라서 세어줘!!라고 부탁하는 내용이야

1    9148
4    1921
2    1862
6     352
5     190
3     120
Name: outcome, dtype: int64

In [21]:
preg['outcome'].value_counts().sort_index()
###얘는 위에랑 같은데 숫자순서대로 배열해줘라고 하는 내용이고

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [25]:
preg['pregordr'].value_counts()
###얘는 저 프렉 뭐시기를 수치에 따라서 세어줘 라고 한거고 ㅇㅋㅇㅋ?
### ㅇㅋㅇㅋ

1     5033
2     3766
3     2334
4     1224
5      613
6      308
7      158
8       78
9       38
10      17
11       8
12       5
13       3
14       3
18       1
19       1
17       1
16       1
15       1
Name: pregordr, dtype: int64

In [23]:
preg['outcome']

0        1
1        1
2        1
3        1
4        1
        ..
13588    1
13589    2
13590    2
13591    1
13592    1
Name: outcome, Length: 13593, dtype: int64

In [29]:
preg['birthwgt_lb'].value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

In [35]:
caseid=10229
preg_map=nsfg.MakePregMap(preg)##이 함수는 표에서 몇번째 인덱스에 해당하는지를 알려주는 함수이다
preg.outcome[preg_map[10229]].values

array([4, 4, 4, 4, 4, 4, 1], dtype=int64)

In [41]:
from collections import defaultdict
preg_map2=defaultdict(list)
for idx, caseid in preg.caseid.iteritems():
    preg_map2[caseid].append(idx)
preg.outcome[preg_map2[10229]].values

array([4, 4, 4, 4, 4, 4, 1], dtype=int64)

In [43]:
preg['birthord'].value_counts()

1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: birthord, dtype: int64

In [45]:
preg['birthord'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
13588    False
13589     True
13590     True
13591    False
13592    False
Name: birthord, Length: 13593, dtype: bool

In [49]:
preg['prglngth'].value_counts().sort_index()

0       15
1        9
2       78
3      151
4      412
5      181
6      543
7      175
8      409
9      594
10     137
11     202
12     170
13     446
14      29
15      39
16      44
17     253
18      17
19      34
20      18
21      37
22     147
23      12
24      31
25      15
26     117
27       8
28      38
29      23
30     198
31      29
32     122
33      50
34      60
35     357
36     329
37     457
38     609
39    4744
40    1120
41     591
42     328
43     148
44      46
45      10
46       1
47       1
48       7
50       2
Name: prglngth, dtype: int64

In [50]:
preg['birthwgt_lb'].mean()

6.832122413033906

In [51]:
preg['totalwgt_lb'].mean()

7.265628457623368

In [54]:
def lb2kg(weightinlb):
    return 0.45359237*weightinlb
preg['totalwgt_kg']=preg['totalwgt_lb'].apply(lb2kg)

In [55]:
preg['totalwgt_kg']

0        3.997283
1        3.572040
2        4.139030
3        3.175147
4        2.806603
           ...
13588    2.806603
13589         NaN
13590         NaN
13591    3.401943
13592    3.401943
Name: totalwgt_kg, Length: 13593, dtype: float64

In [57]:
preg[['totalwgt_kg','totalwgt_lb']]

       totalwgt_kg  totalwgt_lb
0         3.997283       8.8125
1         3.572040       7.8750
2         4.139030       9.1250
3         3.175147       7.0000
4         2.806603       6.1875
...            ...          ...
13588     2.806603       6.1875
13589          NaN          NaN
13590          NaN          NaN
13591     3.401943       7.5000
13592     3.401943       7.5000

[13593 rows x 2 columns]

In [58]:
preg['totalwgt_kg2']=preg['totalwgt_lb']*0.45359237

In [60]:
preg[['totalwgt_kg2','totalwgt_kg','totalwgt_lb']]

       totalwgt_kg2  totalwgt_kg  totalwgt_lb
0          3.997283     3.997283       8.8125
1          3.572040     3.572040       7.8750
2          4.139030     4.139030       9.1250
3          3.175147     3.175147       7.0000
4          2.806603     2.806603       6.1875
...             ...          ...          ...
13588      2.806603     2.806603       6.1875
13589           NaN          NaN          NaN
13590           NaN          NaN          NaN
13591      3.401943     3.401943       7.5000
13592      3.401943     3.401943       7.5000

[13593 rows x 3 columns]

In [61]:
resp=pd.read_csv("./2002FemResp.tsv",sep="\t")

In [64]:
resp.head()
resp.tail()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [70]:
resp[resp['caseid']==2298]["age_r"]##2298응답자의 나이

0    27
Name: age_r, dtype: int64

In [72]:
preg[preg['caseid']==2298]['prglngth']##응답자의 임신기간

2610    40
2611    36
2612    30
2613    40
Name: prglngth, dtype: int64

In [73]:
preg[preg['caseid']==2298]['birthwgt_lb'].iloc[0]

6.0

In [78]:
preg[preg['birthord']==1]['prglngth'].mean()

38.60095173351461